* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}



}
#content {
  background-color: #90EE90; /* green */
}

h1 {
      font-family: fantasy;
      font-size: 40px;
}
p {

  
  border: 1px solid black;
  overflow: auto;
  padding: 10px;

  top: 200px;
  margin-bottom: 15px;
  display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

#p1 {
  background-color: #A52A2A;
  float: left;
  width: 80%;
  height: 150px;
  margin-left: 10px;



}
#p2 {
  background-color: #DEB887;
  float: left;
  width: 80%;
  height: 150px;
  margin-left: 10px;
  margin-right: 10;


}
#p3 {
  background-color: #5F9EA0;
  width: 80%;
  float: left;
  height: 150px;
  margin-left: 50px;


}


section {
  text-align: center;
  font-size: 50px;
  clear: left;
  margin-bottom: 50px;
} 

/********** Large devices only **********/
@media (min-width: 992px) {
  #p1 {
    width: 30%;
    height: 150px;

  }
  #p2 {
    width: 30%;
    height: 150px;
  }
  #p3 {
    width: 30%;
    height: 150px;
    
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 45%;
    height: 150px;
    float: left;



  }
  #p2 {
    width: 45%;
    height: 150px;
    float: left;
  }
  #p3 {
    width: 90%;
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;

  }
  body {
    background-color: blue;
  }
}
